/* Simple Style */
QPushButton {
    border-image: url(d://__DOCS_PROJECTS//Qt//OpenTheDoor//style//simple.bmp) 3px; border-radius: 11px; color: white;
}

QPushButton:hover {
    border-image: url(d://__DOCS_PROJECTS//Qt//OpenTheDoor//style//hover.bmp) 3px; border-radius: 11px; color: white;
}

QPushButton:pressed {
	border-image: url(d://__DOCS_PROJECTS//Qt//OpenTheDoor//style//pressed.bmp) 3px; border-radius: 11px; color: white;
}
